<%- include('partials/header.ejs') %>

<div id="hp-s1" class="row page-section">

  <div id="hp-s1-headline" class="d-flex align-items-center justify-content-center text-center">

    <h1 id="hp-s1-header" class="wtf">GOJO PRODUCTIONS</h1>

    <p id="hp-s1-subtext">Music Production | Mixing | Graphic Material | Influencer Services</p>

    <a id="hp-s1-contact" href="/contact">CONTACT US TODAY</a>

    <iframe width="500" height="600" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1332043984&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/gojo-beats" title="Gojo Beats Collective" target="_blank" style="color: #cccccc; text-decoration: none;">See Our Profile</a> · <a href="https://soundcloud.com/gojo-beats/sets/instrumentals-for-sale" title="Instrumentals for Sale" target="_blank" style="color: #cccccc; text-decoration: none;">Instrumentals for Sale</a></div>

  </div>

</div>

<div id="hp-s2" class="row page-section">

  <div id="hp-s2-inner-header" class="d-flex align-items-center justify-content-center text-center">

    <i class="fa-solid fa-angle-down my-auto mx-5"></i> 
    
    <h1 id="hp-s2-header">SERVICES WE PROVIDE</h1>

    <i class="fa-solid fa-angle-down my-auto mx-5"></i>

  </div>

  <div id="hp-s2-service-cards" class="d-flex justify-content-center row">

    <div class="hp-s2-card col-12 col-lg-4 text-center">

      <h1 class="hp-s2-card-title"><i class="fa-solid fa-user-group"></i> Free Consultations</h1>

      <ul class="hp-s2-service-list">
        <li class="hp-s2-list-text">- Artist Consultations</li>
        <li class="hp-s2-list-text">- Audio Engineering Consultations</li>
        <li class="hp-s2-list-text">- Album/Project Consultation</li>
        <li class="hp-s2-list-text">- Custom Soundtrack Consultation</li>
      </ul>

    </div>

    <div class="hp-s2-card col-12 col-lg-4 text-center">

      <h1 class="hp-s2-card-title"><i class="fa-solid fa-music"></i> Music Production</h1>

      <ul class="hp-s2-service-list">
        <li class="hp-s2-list-text">- Custom Beats</li>
        <li class="hp-s2-list-text">- Any Genre</li>
        <li class="hp-s2-list-text">- Leasing & Exclusive Buyout</li>
        <li class="hp-s2-list-text">- Sound Design</li>
      </ul>

    </div>

    <div class="hp-s2-card col-12 col-lg-4 text-center">

      <h1 class="hp-s2-card-title"><i class="fa-solid fa-gears"></i> Mixing</h1>

      <ul class="hp-s2-service-list">
        <li class="hp-s2-list-text">- Singles</li>
        <li class="hp-s2-list-text">- Albums</li>
        <li class="hp-s2-list-text">- Mixtapes</li>
        <li class="hp-s2-list-text">- Full-Service Production</li>
      </ul>

    </div>

    <div class="hp-s2-card col-12 col-lg-4 text-center">

      <h1 class="hp-s2-card-title"><i class="fa-solid fa-display"></i> Graphic Services</h1>

      <ul class="hp-s2-service-list">
        <li class="hp-s2-list-text">- Flyers</li>
        <li class="hp-s2-list-text">- Logos</li>
        <li class="hp-s2-list-text">- Brochures</li>
        <li class="hp-s2-list-text">- Album/Mixtape Covers</li>
      </ul>

    </div>

    <div class="hp-s2-card col-12 col-lg-4 text-center">

      <h1 class="hp-s2-card-title"><i class="fa-solid fa-laptop-code"></i> Web Development</h1>

      <ul class="hp-s2-service-list">
        <li class="hp-s2-list-text">- Website Design</li>
        <li class="hp-s2-list-text">- Website Development</li>
        <li class="hp-s2-list-text">- Hosting</li>
        <li class="hp-s2-list-text">- Maintenance</li>
        <li class="hp-s2-list-text">- Search Engine Optimization (SEO)</li>
      </ul>

    </div>

  </div>

</div>

<div id="hp-s3" class="row page-section">

  <div id="hp-s3-inner-header" class="d-flex justify-content-end align-items-center text-center col-12">
    
    <h1 id="hp-s3-header">ABOUT US</h1>

    <span id="hp-s3-header-divider"></span>

  </div>

  <div id="hp-s3-inner-body" class="d-flex align-items-top justify-content-center text-center col-12">

    <p id="hp-s3-body-text">Gojo Productions is a multi-media company specializing in audio recording and mixing, web development, and graphic design. 
      We have been making music for over 8 years. In 2020 Gojo Productions was conceived, but it wasn't until one years later that it would actually 
      come into full fruition as a collective. We have been working out of Tallahassee, FL ever since and our goal is to bring a new breath of life to the music industry. 
      Gojo Productions offers superior professional quality and great customer service all on an unbeatable budget.</p>

  </div>

</div>

<div id="hp-s4" class="row page-section">

  <div id="hp-s4-inner-header" class="d-flex justify-content-center align-items-center text-center col-12">

    <h1 id="hp-s4-title">Graphic Services</h1>

    <span id="hp-s4-title-divider"></span>

  </div>

  <div id="hp-s4-inner-body" class="d-flex align-items-center justify-content-start text-center col-12">

    <h1 class="hp-s4-header">We strive to satisfy</h1>

    <p id="hp-s4-subheader" class="hp-s4-body-text">At Gojo Productions, we offer a full suite of Graphic Services.</p>

    <p class="hp-s4-body-text">Logos starting at $300</p>

    <p class="hp-s4-body-text">Tri-Fold Brochures starting at $150</p>

    <p class="hp-s4-body-text">Promotional artist graphics starting at $100</p>

    <p class="hp-s4-body-text">Flyers starting at $75</p>

    <p class="hp-s4-body-text">Business card designs starting at $50</p>

    <a id="hp-s4-contact" href="/contact">CONTACT US</a>

    <h1 class="hp-s4-header">Need something you don't see?</h1>

    <p id="hp-s4-collaborators" class="hp-s4-body-text">Gojo beats works with a network of collaborators to ensure that we can provide practically any service required by our clients.</p>

    <p class="hp-s4-body-text">Additional services provided as needed.</p>
  
  </div>

</div>

<div id="hp-s5" class="row page-section align-content-start">

  <div id="hp-s5-inner-header" class="d-flex justify-content-center align-items-center text-center col-12">

    <h1 id="hp-s5-title">Website Services</h1>

    <span id="hp-s5-title-divider"></span>

  </div>

  <div id="hp-s5-inner-body" class="d-flex align-items-center justify-content-start text-center col-12">

    <h1 class="hp-s5-header">We build web experiences that are sure to impress.</h1>

  </div>

  <div id="hp-s5-designs" class="d-flex align-items-center justify-content-center text-center col-12">

    <h1 class="hp-s5-header">Check out our designs:</h1>

    <div id="hp-s5-siteContainer" class="row">

      <div id="s5-site1" class="col-12 col-lg s5-site"></div>

      <div id="s5-site2" class="col-12 col-lg s5-site"></div>

      <div id="s5-site3" class="col-12 col-lg s5-site"></div>

    </div>

    <a id="hp-s5-contact" href="/contact">CONTACT FOR PRICING</a>

  </div>
  
  <div class="row justify-content-center text-center">

    <a id="scrollToTop" onclick="moveTo('#home'); brandNewToggler('#topPage')"><i id="topScrollArrows" class="fa-solid fa-angles-up"></i></a>

  </div>

</div>



<%- include('partials/footer.ejs') %>