<%- include('partials/header.ejs') %>

<div id="completed" class="row page-section">

  <div id="completed-inner" class="col-12">

    <h1 class="submit-fade">Thank you for your submission!</h1>
    <h3 class="submit-fade">We will be in touch.</h3>
    <a id="submit-return" class="submit-fade" href="/">RETURN TO HOME</a>

  </div>

</div>









<%- include('partials/footer.ejs') %>